[options]
isa rv32i
nbus 1

[depth]
insn            20
reg       15    25

[defines]
`define RISCV_FORMAL
`define RISCV_FORMAL_NRET 1
`define RISCV_FORMAL_XLEN 32
`define RISCV_FORMAL_ILEN 32
#`define  RISCV_FORMAL_VALIDADDR(addr) ((addr) < 0x80000000 && (addr) >= 0x00000000)
#`define RISCV_FORMAL_IOADDR(addr) ((addr) >= 0x80000000 && (addr) <= 0xFFFFFFFF)

[verilog-files]
@basedir@/../src/wrapper.v
@basedir@/../build/top.v